doctype html
html(lang="en")
    head
        title Jade
    body
        div vb
        include ../../includes/a.jade
        include ../../includes/b.jade
        include ../../includes/c/c1.jade
        include ../../includes/c/c2.jade
        include ../../includes/d/d1.jade