doctype html
html(lang="en")
    head
        title Jade
        link(rel="stylesheet",href="/css/reset.css?VERSION")
        link(rel="stylesheet",href="/css/css.css?VERSION")
        script(src="/js/js.js")
    body
        div Jade Index
        include ../includes/a.jade
        include ../includes/b.jade
        include ../includes/c/c1.jade
        include ../includes/c/c2.jade
        include ../includes/d/d1.jade